body,html{
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.8em;
    color: rgb(46, 44, 44);
}
.pic1, .pic2, .pic3, .pic4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pic1{
    background-image: url(img1.jpg);
    min-height: 100%;
}
.pic2{
    background-image: url(img2.jpg);
    min-height: 600px;
}
.pic3{
    background-image: url(img3.jpg);
    min-height: 600px;
}.pic4{
    background-image: url(img4.jpg);
    min-height: 100%;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: beige;
    color: rgb(24, 22, 22);
}
.section-dark{
    background-color:rgb(24, 22, 22) ;
    color: beige;
}
.ptext{
    position: absolute;
    top: 50%;
    width:100% ;
    text-align: center;
    color: black;
    font-size: 27px;
    font-weight: 400px;
    background-color:transparent ;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color:transparent;
    color: #fff;
    padding: 20px;
}
.ptext ,.border-horror{
    
    color: black;
}
.ptext ,.border-para{
    
    color: black;
}
@media screen and (max-width:568px) {
    .pic1, .pic2, .pic3, .pic4{
        background-attachment: fixed;
    }
    body, html{
        font-size: 10px;
    }
    .ptext{
        font-size: 18px;
        font-weight: bold;
    }
    
}